/* globals */

:root{
    --color-gray: #3f3f3f;
    --color-black: #111111;
    --color-white: #fafafa;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
}
img{
    max-width: 100%;
    display: block;

}

h1,h2,h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
    margin-top: 0;
}
h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}
a{
    text-decoration: none;
}

/* utilities */
.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.btn{
    color: var(--color-gray);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    padding: .5rem 2rem;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--color-gray);
    color: var(--color-white);
}

.text-center{
    text-align: center;
}

/* Header */

.notavif.notwebp .header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.webp .header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.avif .header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header{
    min-height: 60rem;

    padding: 4rem 0 ;
    object-fit: contain;
}

.header-content{
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-between;
    color: var(--color-white);
}

.company-name{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}

.company-name span{
    font-weight: 900;
    font-size: 3.8rem;
}

@media (min-width: 768px) {
    .company-name{
        font-weight: 300;
        text-transform: capitalize;
    }
    .company-name span{
        font-weight: 900;
        font-size: 5.4rem;
    }
}

@media (min-width: 768px) {
    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone{
    display: flex;
    align-items: center;
}

.phone::before{
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}

@media (min-width: px) {
    .contact{
        align-items: flex-end;
    }
}

.header a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 2rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 1rem;

}
@media (min-width: 768px) {
    .navbar{
        flex-direction: row;
    }
}
.navbar a{
    padding: .5rem;
    transition: 0.5s;
}

@media (min-width: 768px) {
    .navbar a{
        padding: 1rem 2rem;
    }
}
.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    color: var(--color-black);
}

.slogan{
    text-align: center;
}

.slogan h2{
    font-size: 3rem;
    margin: 0;
}

.slogan p{
    margin: 0;
    line-height: 1;
}

@media (min-width: 768px) {
    .slogan{
        text-align: right;
    }
    .slogan h2{
        font-size: 4.8rem;
        margin: 0;
    }
}

/* about us */

.about{
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 992px) { 
    .about {
        grid-template-columns: repeat(3, 1fr);
    }
}

.notavif.notwebp .about{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 5%;

}
.webp .about{
    background-image: url(../img/about.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 5%;
}
.avif .about{
    background-image: url(../img/about.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 5%;
}

@media (min-width: 768px) {
    .notavif.notwebp .about{
        background-position: bottom center
    }
    .webp .about{
        background-position: bottom center
    }
    .avif .about{
        background-position: bottom center
    }
}
.about-contet{
    background-color: var(--color-white);
    padding: 4rem;
}

@media (min-width: 768px) {
    .about-contet{
        grid-column: 2/4;
          
    }
}
.about-contet h2,
.about-contet p{
    margin-bottom: 1rem;
}

/* models */

.model{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 2rem;
}

.model:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .model{
        grid-template-columns: repeat(2, 1fr);
    } 
}

.model-content{
    padding: 5rem;
    background-color: var(--color-white);
}

.basic{
    background-image: url(../img/model1.jpg);
}
@media (min-width: 768px) {
    .basic{
        background-position: top right;
    }
    .basic .model-content{
        grid-row: 2/3;
        padding: 2rem 2rem 2rem 0;
    } 
}
.premier{
    background-image: url(../img/model2.jpg);
}

@media (min-width: 768px) {
    .premier{
        background-position: top left;
    } 
    .premier .model-content{
        grid-column: 2/3;
        padding: 2rem;
    }
}
.premiun{
    background-image: url(../img/model3.jpg);
}

@media (min-width: 768px) {
    .premiun{
        background-position: top right;
    }  
    .premiun .model-content{
        padding: 2rem 2rem 2rem 0;


    }
}

/* gallery */

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

.gallery .img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}
@media (min-width: 768px) {
    .gallery .img:nth-child(2){
        grid-row: 2/4;
        grid-column: 1/2;
    }
}
.gallery .img:nth-child(3){
    grid-row: 3/5;
    grid-column: 2/3;
}
@media (min-width: 768px) {
    .gallery .img:nth-child(3){
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
.gallery .img:nth-child(6){
    grid-row: 2/4;
}
@media (min-width: 768px) {
    .gallery .img:nth-child(6){
        grid-column: 3/4;
        grid-row: 1/3;
    }
}
.gallery img{
    object-fit: cover;
    height: 100%;
}
/* footer */

.footer{
    height: 30rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer a{
    color: var(--color-white);
    font-size: 2rem;
}

.footer p{
    text-align: center;
    background-color: var(--color-gray);
    margin: 2rem 0 0 0;
    padding: 1rem;

}